:root {
    --border-radius:10px
  }
.nav-container{
    background-color: rgb(251, 253, 255);
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 3rem;
    border-radius: var(--border-radius);
    align-items: center;
}
.nav-menu-item{
    /* border: 1px solid #000; */
    /* background-color: rgb(237, 250, 245);  */
    list-style-type: none;
    position: relative;
    width: fit-content;
    padding:.5rem;
    border-radius: var(--border-radius);
    /* margin-left: 10px; */
    /* margin: 0 10px 0 10px; */

}

.nav-menu-item-link {
    text-decoration: none;
    color: rgb(5, 0, 0);
}
.nav-menu-item:hover {
    background: rgb(240, 248, 248);
  }


