:root {
    --border-radius:10px
  }
.nav-container{
    

    /* background-color: rgb(246, 247, 244); */
    /* background-color: var(navbar-bg-color); */
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: var(--header-height);
    /* border-radius: var(--border-radius); */
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100000;
}
.nav-menu-item{
    list-style-type: none;
    position: relative;
    width: fit-content;
    padding:.5rem;
    border-radius: var(--border-radius);
    /* margin-left: 10px; */
    /* margin: 0 10px 0 10px; */

}

.nav-menu-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.nav-menu-item:hover {
    /* background: rgb(240, 248, 248); */
    background: var(--navbar-hover-background-color);
    cursor: pointer;
    border-radius: 20px;
  }


