#root {
    --left: 10px;
    --right: 10px;
    --top: 10px;
    --carousel-margin: 2px;
    --carousel-height: 290px;
    --side-arrow-width: 60px;
}

.carousel {
    /* outline: none; */
    margin: var(--carousel-margin);
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: var(--carousel-height);
    /* top: var(--top); */
    border: 2px solid rgb(22, 22, 231);
    border-radius: var(--border-radius);
    /* background-color: rgba(250, 251, 253, 0.8); */
    background-color: inherit;
    overflow: hidden;
}

.carousel-heading {
    color: #ffff;
    font-weight: 600;
    padding: 10px 0 0px var(--side-arrow-width);
}

.carousel-container {
    /* border: 1px solid blueviolet; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 250px;

}

.carousel-slider {
    /* border: 1px solid rgba(231, 234, 238, 0.5); */
    /* border-radius: var(--border-radius); */
    /* take parent conatiner width and if u add margin it overflow with parent width */
    /* width: 100%;  */
    width: 95%;
    /* margin: 20px; */
    /* height: 350px; */
    /* left: var(--left); */
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    gap: 1rem;
}

.carousel-button-container {
    /* background-color: rgba(3, 223, 223, 0); */
    width: var(--side-arrow-width);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    z-index: 10;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    /* margin:20px 0 0 0; */
}

.carousel-button {
    /* align-items: center; */
    /* background-color: rgb(206, 134, 253); */
    background: transparent;
    z-index: 10;
    width: var(--carousel-margin);
    height: 100%;
    position: relative;
    font-size: 2rem;
    width: var(--side-arrow-width);
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: all .5s;
    color: #ffff;

}

.carousel-button:hover,
.carousel-button-container:hover {
    /* background-color: rgb(134, 18, 211); */
    /* color: rgb(245, 18, 18); */
    border: none;
    font-size: 2.5rem;
    ;


}

.prev {
    /* left:var(--left); */

}

.next {
    /* right: var(--right); */
}