*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 1920px;
  height: inherit; */
  /* height: 100%; */
  
  /* background-color: rgb(255,255,255); */
  
  color: black;
  font-family: Arial, Helvetica, sans-serif,Verdana, Geneva, Tahoma, sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400; */
  background-color: rgb(255,255,255);
  
}