body{
  /* background-color: var(--background-color) */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #fff; */
  /* background-color: var(--background-color); */
}

:root {

  /** Nar bar*/
  --header-height: 64px;
  --footer-height: 150px;

  /** Border radius*/
  --border-radius: 5px;
}


/**Border classes*/
.border-1px {
  border: 1px solid rgb(240, 21, 21);
}

.rounded-full {
  border-radius: 9999px;
}

.radius-10 {
  border-radius: calc(var(--border-radius) * 2)
}


/**margins */
.margin-auto {
  margin: auto;
}